* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: transparent;
  overflow: hidden;
}

#minigame {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 80px;
  border-radius: 10px;
  display: none;
  align-items: center;
  justify-content: center;
  background: transparent; /* transparan penuh */
}

#track {
  position: relative;
  width: 90%;
  height: 30px;
  background: linear-gradient(145deg, rgba(0, 115, 255, 0.2), rgba(0, 85, 255, 0.915));
  box-shadow: 
    inset 3px 0 6px rgba(0,0,0,0.6),
    0 4px 10px rgba(0,0,0,0.4);
  border: 1px solid rgba(59, 181, 246, 0.6);
  overflow: hidden;
}

#blueZone {
  position: absolute;
  top: 0;
  height: 100%;
  width: 25%;
  background: linear-gradient(145deg, rgba(0, 115, 255, 0.2), rgba(0, 85, 255, 0.915));
  box-shadow: 
    inset 3px 0 6px rgba(0,0,0,0.6),
    0 4px 10px rgba(0,0,0,0.4);
  border: 1px solid rgba(59, 181, 246, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

#key {
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

#movingBar {
  position: absolute;
  top: 0;
  width: 10%;
  height: 100%;
  background: rgba(255, 0, 0, 0.318);
  border-radius: 8px;
}
